@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed{
    @apply fixed z-[9999] bg-white bg-opacity-70;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.hamburger-line{
    @apply w-[30px] h-[3px] my-2 block bg-slate-700;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45;
}
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}
.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}

.judul{
    @apply text-start font-bold text-slate-900 text-xl md:text-2xl lg:text-3xl mb-1 md:mb-6 lg:mb-8;
}

.paragraf{
    @apply text-base text-slate-600 font-medium text-start tracking-wider mb-4 md:mb-8 lg:mb-10 md:text-lg lg:text-xl;
}